#community {
	padding:0 17rem;
    
    .content-item {
        background: transparent;
    }
    
    .content-item .h4 {
        margin:0 0 1.8rem 0;
    }
    
    .logo-header {
        margin:0 0 9rem 6.5rem;
    }
    

}
