.pattern-overlay {
	&:before,
	&:after {
		content:'';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
	}
}


.pattern-overlay {
	&:before {
		top:0;
		background: url('/images/pattern.png');
	}
}

.pattern-overlay {
	&:after {
		top:60%;
		@include linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
	}
}
