.tiles4by4
{
	@include display-flex();
	@include flex-wrap(wrap);
	width:100%;
}

.tiles4by4__item {
	@include flex(1,0,50%);

	&:last-child {
		max-width:50%;
	}

	&:nth-child(even) > .tiles4by4__content {
		margin:0 0 1.7rem 0.85rem;
	}

	&:nth-child(odd) > .tiles4by4__content {
		margin:0 0.85rem 1.7rem 0;
	}

}

@media screen and (max-width: $mobileMedium) {
	.tiles4by4__content {
		margin:0 0 1.7rem 0;
	}
}

@media screen and (max-width: $desktopSmall) {

    .tiles4by4__item {
        @include flex(1,0,100%); 
        
        &:nth-child(even) > .tiles4by4__content,
        &:nth-child(odd) > .tiles4by4__content {
		    margin:0 0 1.7rem 0;
        }    
        
        &:last-child {
		    max-width:100%;
	    }
    }    
}
