.float-nav__link {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border-radius: 50%;
	width: 1.1rem;
	height: 1.1rem;
    margin:1rem 3rem 1rem 1rem;
    
    &:hover,
    &:focus {
        background: rgba(255, 255, 255,0.5) none repeat scroll 0% 0%;
    }
}