$primaryTextColour: #fff;
$primaryBackgroundColour: #000;
$primaryAccentColour: #01B3E3;

$defaultFontSize: 1.6rem;

$customFont: 'Lato',Arial,sans-serif;
$customSecondaryFont: 'Geogrotesque',Arial,sans-serif;


$mobileMedium: 768px;
