$primaryTextColour: #fff;
$primaryBackgroundColour: #000;
$primaryAccentColour: #01B3E3;

$defaultFontSize: 1.6rem;

$customFont: 'Lato',Arial,sans-serif;
$customSecondaryFont: 'geogrotesque_rgregular',Arial,sans-serif;


$mobileSmall: 526px;
$mobileMedium: 768px;
$desktopSmall: 1150px;
