
   <nav class="float-nav">
    <ul>
        <li class="float-nav__item"><a class="float-nav__link" href="#intro" ng-click="main.scrollToSection('intro')"></a></li>
        <li class="float-nav__item"><a class="float-nav__link" href="#hub-links" ng-click="main.scrollToSection('hub-links')"></a></li>
        <li class="float-nav__item"><a class="float-nav__link" href="#community" ng-click="main.scrollToSection('community')"></a></li>
    </ul>
</nav>
<section class="content-section pattern-overlay" id="intro">
   <video-bg mobile-image="'/images/poster.png'" class="video-bg" playlist="main.videos"></video-bg> 
    
    <header class="main-header">
      <a href="#hub-links" class="main-header__link" ng-click="main.scrollToSection('hub-links')">  <h1>
            <figure class="main-header__figure">
                <img class="main-header__image" src="../../images/logo-large.svg" alt=""></figure>
            <span class="main-header__tagline">We are growing</span>
           
        </h1>
         </a>
    </header>
</section>
<section class="content-section" id="hub-links">
    <h2 class="h2 fading-separator">Upcoming Events</h2>
    <ul class="margin-bottom56">
        <li><a href="">
            <article class="content-item highlighted">
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span><span>Soon</span></h3>
                </header>
                <content-box content="main.blurbs.upcomingEvent"></content-box>
            </article>
            </a>
        </li>
    </ul>
    <h2 class="h2 fading-separator">Past Events</h2>
    <ul class="tiles4by4">
        <li class="tiles4by4__item"><a class="tiles4by4__content" href="http://source.twf.community" target="_blank">
            <article class="content-item">
                <time class="time-element" datetime="2015-05">May 2015</time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Source</span></h3>
                </header>
                <content-box content="main.blurbs.pastEventA"></content-box>
            </article>
            </a>
        </li>
        <li class="tiles4by4__item"><a class="tiles4by4__content" href="http://interactive.twf.community" target="_blank">
            <article class="content-item">
                <time class="time-element" datetime="2015-05">May 2015</time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Interactive</span></h3>
                </header>
                <content-box content="main.blurbs.pastEventB"></content-box>
            </article>
            </a>
        </li>
        <li class="tiles4by4__item"><a class="tiles4by4__content" href="http://twfhackaton.com" target="_blank">
            <article class="content-item">
                <time class="time-element" datetime="2015-05">May 2015</time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Hackaton</span></h3>
                </header>
                <content-box content="main.blurbs.pastEventC"></content-box>
            </article>
            </a>
        </li>
    </ul>

</section>
<section class="content-section" id="community">
    <header class="logo-header">
        <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Community</span></h3>
    </header>
    <ul class="tiles4by4 fading-separator">
        <li class="tiles4by4__item">
            <article class="content-item">
                <header>
                    <h4 class="h4">Our Mission</h4>
                </header>
                <content-box content="main.blurbs.communityA"></content-box>
            </article>
        </li>
        <li class="tiles4by4__item">
            <article class="content-item">
                <header>
                    <h4 class="h4">We are growing</h4>
                </header>
                <content-box content="main.blurbs.communityB"></content-box>
            </article>

        </li>
    </ul>
    <footer>
    <ul class="inline-list">
        <li class="inline-list__item"><a class="" href="http://blog.twf.community"><header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Blog</span></h3>
                </header></a></li>
        <li class="inline-list__item"><a class="icon-twitter" href="https://twitter.com/twfcommunity" target="_blank"></a></li>
        <li class="inline-list__item"><a class="icon-fb" href="https://www.facebook.com/twf.community/?fref=ts" target="_blank"></a></li>
        <li class="inline-list__item"><a class="icon-linkedin" href="https://www.linkedin.com/groups/8408243" target="_blank"></a></li>
        <li class="inline-list__item"><a class="icon-youtube" href="https://www.youtube.com/channel/UCFX05tVM0y-Ldf_vcpJ0M3Q" target="_blank"></a></li>
    </ul>
</footer>
</section>

