<nav class="float-nav">
    <ul>
        <li class="float-nav__item"><a class="float-nav__link" href="#intro" ng-click="main.scrollToSection('intro')"></a></li>
        <li class="float-nav__item"><a class="float-nav__link" href="#hub-links" ng-click="main.scrollToSection('hub-links')"></a></li>
        <li class="float-nav__item"><a class="float-nav__link" href="#community" ng-click="main.scrollToSection('community')"></a></li>
    </ul>
</nav>
<section class="content-section pattern-overlay" id="intro">
    <video-bg class="video-bg" playlist="main.videos"></video-bg>
    <header class="main-header">
        <h1>
            <figure class="main-header__figure">
                <img class="main-header__image" src="../../images/logo-large.svg" alt=""></figure>
            <span class="main-header__tagline">We are growing</span>
        </h1>
    </header>
</section>
<section class="content-section" id="hub-links">
    <h2 class="h2 fading-separator">Upcoming Events</h2>
    <ul class="margin-bottom56">
        <li><a href="">
            <article class="content-item highlighted">
                <time class="time-element"></time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span><span>Soon</span></h3>
                </header>
                <content-box content="main.blurbs.upcomingEvent"></content-box>
            </article>
            </a>
        </li>
    </ul>
    <h2 class="h2 fading-separator">Past Events</h2>
    <ul class="tiles4by4">
        <li class="tiles4by4__item"><a class="tiles4by4__content" href="">
            <article class="content-item">
                <time class="time-element" datetime="2015-05">May 2015</time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Source</span></h3>
                </header>
                <content-box content="main.blurbs.pastEventA"></content-box>
            </article>
            </a>
        </li>
        <li class="tiles4by4__item"><a class="tiles4by4__content" href="">
            <article class="content-item">
                <time class="time-element" datetime="2015-05">May 2015</time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Interactive</span></h3>
                </header>
                <content-box content="main.blurbs.pastEventB"></content-box>
            </article>
            </a>
        </li>
        <li class="tiles4by4__item"><a class="tiles4by4__content" href="">
            <article class="content-item">
                <time class="time-element" datetime="2015-05">May 2015</time>
                <header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Hackaton</span></h3>
                </header>
                <content-box content="main.blurbs.pastEventC"></content-box>
            </article>
            </a>
        </li>
    </ul>

</section>
<section class="content-section" id="community">
    <header class="logo-header">
        <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Community</span></h3>
    </header>
    <ul class="tiles4by4 fading-separator">
        <li class="tiles4by4__item">
            <article class="content-item">
                <header>
                    <h4 class="h4">Our Mission</h4>
                </header>
                <content-box content="main.blurbs.community"></content-box>
            </article>
        </li>
        <li class="tiles4by4__item">
            <article class="content-item">
                <header>
                    <h4 class="h4">We are growing</h4>
                </header>
                <content-box content="main.blurbs.community"></content-box>
            </article>

        </li>
    </ul>
    <footer>
    <ul class="inline-list">
        <li class="inline-list__item"><a class="" href=""><header class="logo-header">
                    <h3 class="h3"><span class="visually-hidden">TWF</span> <span>Blog</span></h3>
                </header></a></li>
        <li class="inline-list__item"><a class="icon-twitter"></a></li>
        <li class="inline-list__item"><a class="icon-fb"></a></li>
        <li class="inline-list__item"><a class="icon-linkedin"></a></li>
        <li class="inline-list__item"><a class="icon-youtube"></a></li>
    </ul>
</footer>
</section>

